<section class="uk-section uk-padding uk-section-large uk-flex uk-flex-middle uk-flex-center uk-grid-match uk-flex-row uk-child-width-1-4@m" uk-grid>

    <orchestrator-company-card 
        [command]="createCompanyCommand"
        commandButtonText="Edit command">
    </orchestrator-company-card>

    <orchestrator-new-asset-manual-card
        [command]="createAssetCommand"
        commandButtonText="Edit command">

    </orchestrator-new-asset-manual-card>

    <orchestrator-mint-asset-card
        [command]="mintAssetCommand"
        commandButtonText="Edit command">

    </orchestrator-mint-asset-card>

</section>