<billboard-comp
    title="Instrumentality"
    catchphrase="The blockchain productivity platform">

</billboard-comp>

<feature-comp
    image="../../../assets/Landing/blockchain.svg"
    description="Blockchain nodes"
    title="Our blockchain is built on Hyperledger Iroha">

    <button class="uk-button" type="button"><a [routerLink]="['/landing/about']">Read more about Iroha</a></button>

</feature-comp>

<feature-comp
    image="../../../assets/Landing/planet.svg"
    description="Planet"
    title="Join our free world for open ideas">

    <button class="uk-button" type="button"><a href="https://codeberg.org/instrumentality-foundation" target="_blank">Peek at our code</a></button>

</feature-comp>

<feature-comp
    image="../../../assets/Landing/framework.svg"
    description="Flow of the platform"
    title="Our blockchain is built on Hyperledger Iroha">

    <button class="uk-button" type="button"><a href="#signup-modal" uk-toggle>Join us now</a></button>
    
</feature-comp>