<billboard-comp
    title="Powerful features"
    catchphrase="Understand basic concepts about Instrumentality">

</billboard-comp>

<info-panel-comp
    image="../../../assets/Landing/iroha.svg"
    description="Iroha node in a network"
    title="Discover Hyperledger Iroha"
    catchphrase="Get an overview of our blockchain system">
    
</info-panel-comp>

<info-blockchain-comp></info-blockchain-comp>

<info-panel-comp
    image="../../../assets/Landing/planet.svg"
    description="Planet"
    title="Discover Free Software"
    catchphrase="We steer away from porprietary models">
    
</info-panel-comp>

<info-fs-comp></info-fs-comp>