@import '../../../theme.less';

.uk-navbar-container {
    background-color: fade(@dark-background, 70%) !important;
    backdrop-filter: blur(1em) saturate(200%);
}

/* Navbar links style */
.uk-navbar-nav li a {
    color: @brand-color;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    .fluid-font(1, 10, 320, 3840);
    position: relative;
    text-transform: none;
}

.uk-navbar-nav li a:hover {
    color: @brand-lighter;
}

/* Fix for focused links */
.uk-navbar-nav li a.active:focus {
    color: @brand-lighter;
}

/* Link hovering effect */
.uk-navbar-nav li a::before, .uk-offcanvas-bar .uk-nav li a::before {
    position: absolute;
    content: "";
    background-color: @brand-lighter;
    width: 50%;
    height: 2px;
    left: 25%;
    bottom: 0;
    visibility: hidden;
    transform: scaleX(0);
    transition: all .25s cubic-bezier(1,.25,0,.75);
}

.uk-navbar-nav li a:hover::before, .uk-offcanvas-bar .uk-nav li a:hover::before {
    transform: scaleX(1);
    visibility: visible;
}

/* Freezing effect in place when link becomes active */
.uk-navbar-nav li a.active {
    color: @brand-lighter;
}
  
.uk-navbar-nav li a.active::before {
    content: "";
    position: absolute;
    visibility: visible;
    width: 50%;
    height: 2px;
    background-color: @brand-lighter;
    bottom: 0;
    left: 25%;
    transform: scaleX(1);
}