<!-- Card interface -->
<div class="uk-card uk-card-default" #frontCard>
    
    <div class="uk-card-header uk-text-center">
        <h3>{{ command.name }}</h3>
    </div>

    <div class="uk-card-body uk-flex uk-flex-center">
        <img [src]="command.image" alt="">
    </div>

    <div class="uk-card-footer uk-flex uk-flex-center">
        <button (click)="flipCard()" class="uk-button uk-box-shadow-medium">{{ commandButtonText }}</button>
    </div>

</div>

<!-- Form card interface -->
<div class="uk-card uk-card-default uk-animation-scale-up" tabindex="0" id="form-card" #backCard>

    <div class="uk-card-header uk-text-center">
        <h3 class="uk-margin-small-bottom">{{ command.name }}</h3>
        <h4 class="uk-margin-remove">{{ command.description }}</h4>
    </div>

    <form>
        <div class="uk-card-body uk-flex uk-flex-column">
            <input [(ngModel)]="assetName" type="text" class="uk-input" name="assetName" id="assetName" placeholder="Asset name">
            <input [(ngModel)]="assetPrecision" type="number" class="uk-input uk-margin-top" name="assetPrecision" id="assetPrecision" placeholder="Asset precision">
        </div>

        <div class="uk-card-footer uk-flex uk-flex-center">
            <button (click)="createAsset()" name="sendButton" class="uk-button" type="button" #sendButton>Send</button>
            <div uk-spinner="ratio: 2" #sendSpinner></div>
            <button (click)="flipCard()" class="uk-button cancel-button" type="button">Cancel</button>
        </div>
    </form>

</div>