<section class="uk-section uk-flex uk-flex-column uk-flex-center uk-flex-middle uk-text-center">

    <img id="profile_image" src="../../../assets/Dashboard/avatar.svg" alt="Avatar" #profile_image>
    <h2>{{ username }}</h2>
    <h3 id="full-name" *ngIf="edit_fname != '' || edit_sname != ''">{{edit_fname}} {{edit_sname}}</h3>
    <button id="edit-button" class="uk-button" uk-toggle="target: #profile-edit-modal">
        <fa-icon [icon]="faPencilAlt" class="uk-mergin-small-right"></fa-icon>
        Edit Info
    </button>

</section>

<!-- This modal will set account details on the blockchain -->
<div id="profile-edit-modal" uk-modal>

    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>

        <div class="uk-modal-header uk-flex uk-flex-center uk-flex-middle">
            <div class="uk-inline">
                <img id="modal_profile" (click)="changeProfilePicture()" src="../../../assets/Dashboard/avatar_darkened.svg" alt="Avatar" #modal_profile>
                <div (click)="changeProfilePicture()" class="uk-overlay uk-position-center uk-light">
                    <fa-icon [icon]="faCameraRetro" size="3x"></fa-icon>
                </div>
            </div>
        </div>

        <form>

            <div class="uk-modal-body uk-flex uk-flex-column uk-flex-center uk-flex-middle">
                <div id="fs-name" class="uk-flex uk-flex-around">
                    <input [(ngModel)]="edit_fname" id="edit_fname" name="edit_fname" class="uk-input" type="text" placeholder="First name">
                    <input [(ngModel)]="edit_sname" id="edit_sname" name="edit_sname" class="uk-input" type="text" placeholder="Last name">
                </div>
            </div>


            <div class="uk-modal-footer uk-flex uk-flex-column uk-flex-middle uk-flex-center">
                <button id="save-button" (click)="setInfo()" class="uk-button" #saveButton>Save info</button>
                <div id="save-edits-spinner" uk-spinner="ratio: 2" #saveSpinner></div>
            </div>

        </form>

    </div>

</div>