<section class="uk-section uk-flex uk-felx-row uk-flex-around uk-text-center">
    <div class="uk-flex uk-flex-column uk-flex-middle uk-flex-center">
        <img src="../../../assets/Landing/free-planet.svg" alt="Another planet">
        <h3>Software that respects you</h3>
        <p>
            Instrumentality is not just open-source, it is free(as in freedom) software that respects
            your privacy and your rights as a user. Come joins us in creating awesome free software
            products.
        </p>
        <a href="">Contribute to our projects</a>
    </div>

    <div class="uk-flex uk-flex-column uk-flex-middle uk-flex-center">
        <img src="../../../assets/Landing/shield.svg" alt="Another planet">
        <h3>Security in the open</h3>
        <p>
            As we've seen with multiple big products, security in the darkness does not work for anyone.
            That's why all our code is out in the open. The strength of our security lays in the code itself
            not in your inability to see the it.
        </p>
        <a href="https://codeberg.org/instrumentality-foundation" target="_blank">Take a peek</a>
    </div>
</section>