@import '../../../theme.less';

.uk-section {

    div {
        padding: 1em;
    }

    img {
        max-height: 35vh;
    }

    h3, p {
        font-family: 'Lato', sans-serif;
    }

    h3 {
        color: @brand-lighter;
        font-weight: 700;
        .fluid-font(1.5, 30, 320, 3840);
    }

    p {
        color: @text-color;
        .fluid-font(1, 20, 320, 3840);
    }

    a {
        color: @dark-background;
        font-family: 'Lato', sans-serif;
        padding: .5em;
        font-weight: 700;
        border-radius: .3em;
        .fluid-font(1,20,320,3840);
        background-color: @brand-lighter;
        text-decoration: none;
    }

}

@media only screen and(max-width: 960px) {
    .uk-section {
        flex-direction: column;
        
        div {
            margin-top: 5em;
        }

    }
}