@import '../../../theme.less';

#block1, #block2, #block3 {
    padding: 1em;
    
    img {
        max-height: 35vh;
    }

    h3 {
        .fluid-font(1.5, 30, 320, 3840);
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        color: @brand-lighter;
    }

    p {
        .fluid-font(1, 20, 320, 3840);
        font-family: 'Lato', sans-serif;
        color: @text-color;
    }
}