@import "../../../theme.less";

button {
    background-color: transparent;
}

.uk-navbar-container {
    background-color: fade(@dark-background, 70%) !important;
    backdrop-filter: blur(1em) saturate(200%);
}

/* Logo style */
.uk-logo {
    color: @brand-color;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    .fluid-font(1.7, 15, 320, 3840);
}

.uk-logo:hover {
    color: @brand-color;
}

/* Navbar links style */
.uk-navbar-nav li a {
    color: @brand-lighter;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    .fluid-font(1, 10, 320, 3840);
    position: relative;
    text-transform: none;
}

.uk-navbar-nav li a:hover, .uk-offcanvas-bar .uk-nav li a:hover {
    color: @brand-color;
}

/* Off-canvas navbar style */
.uk-offcanvas-bar {
    background-color: lighten(@dark-background, 1.5%);
}

button.uk-offcanvas-close, button.uk-offcanvas-close:hover {
    color: @brand-color;
}

.uk-offcanvas-bar .uk-nav li a {
    color: @brand-lighter;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 1.4em;
    position: relative;
}

.uk-offcanvas-bar hr{
    border: 1px solid;
    color: @brand-green;
    border-top-color: @brand-green;
}

/* Fix for focused links */
.uk-navbar-nav li a.active:focus, .uk-offcanvas-bar .uk-nav li a.active:focus {
    color: @brand-color;
}

/* Link hovering effect */
.uk-navbar-nav li a::before, .uk-offcanvas-bar .uk-nav li a::before {
    position: absolute;
    content: "";
    background-color: @brand-color;
    width: 50%;
    height: 2px;
    left: 25%;
    bottom: 0;
    visibility: hidden;
    transform: scaleX(0);
    transition: all .25s cubic-bezier(1,.25,0,.75);
}

.uk-navbar-nav li a:hover::before, .uk-offcanvas-bar .uk-nav li a:hover::before {
    transform: scaleX(1);
    visibility: visible;
}

/* Freezing effect in place when link becomes active */
.uk-navbar-nav li a.active, .uk-offcanvas-bar .uk-nav li a.active {
    color: @brand-color;
}
  
.uk-navbar-nav li a.active::before, .uk-offcanvas-bar .uk-nav li a.active::before {
    content: "";
    position: absolute;
    visibility: visible;
    width: 50%;
    height: 2px;
    background-color: @brand-color;
    bottom: 0;
    left: 25%;
    transform: scaleX(1);
}

/* Authentication modals style */

.uk-modal-dialog, .uk-modal-header, .uk-modal-footer {
    background-color: @dark-background;
}

.uk-modal-header h3 {
    color: @text-color;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    .fluid-font(1.5, 25, 320, 3840);
}

.uk-modal-body {
    padding-left: 0;
    padding-right: 0;

    input {
        width: 80%;
        font-family: 'Lato', sans-serif;
        border-radius: .3em;
        border: 2px solid @brand-color;
        padding: .75em;
        color: @brand-lighter;
        background-color: lighten(@dark-background, 5%);
        .fluid-font(1, 20, 320, 3840);
    }

    input::placeholder {
        color: fade(@brand-lighter, 30%);
    }

    img {
        height: 25vh;
    }
}

.uk-modal-footer {
    a {
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        .fluid-font(1.2, 15, 320, 3840);
        color: @brand-blue;
        border-radius: .3em;
    }
}

.uk-modal-footer button.uk-button {
    width: 50%;
    padding: .3em;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    .fluid-font(1, 30, 320, 3840);
    color: @dark-background;
    background-color: @brand-blue;
    border-radius: .3em;
}

.uk-modal-footer {
    .uk-icon {
        color: @brand-blue;
        display: none;
    }
}