<!-- Navbar sticky container. Makes navbar stay at the top of window. -->
<div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">

    <!-- Navbar definition. -->
    <nav class="uk-navbar-container" uk-navbar>

        <!-- Left side of navbar -->
        <div class="uk-navbar-left">
            <a [routerLink]="['/']" class="uk-navbar-item uk-logo">
                <img src="../../../assets/instrumentality-new.svg" alt="The Instrumentality Logo" width="42px" height="42px">
                <span class="uk-margin-small-left">Instrumentality</span>
            </a>
        </div>

        <!-- Center of the navbar: visible on larger devices only -->
        <div class="uk-navbar-center uk-visible@m">
            <ul class="uk-navbar-nav">
                <li><a [routerLink]="['about']" routerLinkActive="active">About the project</a></li>
                <li><a href="">For developers</a></li>
            </ul>
        </div>

        <!-- Right side of navbar: on larger devices -->
        <div class="uk-navbar-right uk-visible@m">
            <ul class="uk-navbar-nav">
                <li><a href="#login-modal" uk-toggle>Login</a></li>
                <li><a href="#signup-modal" uk-toggle>Signup</a></li>
            </ul>
        </div>

        <!-- Right side of navbar: on mobile devices -->
        <div class="uk-navbar-right uk-hidden@m">
            <button class="uk-button uk-navbar-item" type="button" uk-toggle="target: #mobile-nav">
                <fa-icon [icon]="faBars" [styles]="{ 'color': '#F7BFBE' }" size="lg"></fa-icon>
            </button>
        </div>

    </nav>

</div>

 <!-- Offcanvas navbar for mobile navigation -->
 <div id="mobile-nav" uk-offcanvas="flip: true">
    <div class="uk-offcanvas-bar uk-flex uk-flex-column">
        <button class="uk-offcanvas-close" type="button" uk-close></button>

        <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">
            <li><a [routerLink]="['about']" routerLinkActive="active">About the project</a></li>
            <li><a href="">For developers</a></li>

            <hr class="uk-divider" />

            <li><a href="#login-modal" uk-toggle>Login</a></li>
            <li><a href="#signup-modal" uk-toggle>Signup</a></li>
        </ul>
    </div>
</div>

<!---------------------------------------->
<!-- Defining the authentication modals -->
<!---------------------------------------->

<!-- Login Modal -->
<div id="login-modal" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        
        <!-- Modal header -->
        <div class="uk-modal-header">
            <h3 class="uk-modal-title uk-text-center">Welcome back!</h3>
        </div>

        <!-- Modal body -->
        <div class="uk-modal-body uk-flex uk-flex-column uk-flex-center">
            <img src="../../../assets/Landing/vault.svg" alt="A safebox" class="uk-margin-medium-bottom">
            <form id="auth-redirect-method" class="uk-flex uk-flex-center uk-flex-column uk-flex-middle">
                <input [(ngModel)]="loginUser" name="loginUser" type="text" name="login-username" id="login-user-inp" class="uk-input uk-text-center uk-margin-bottom" placeholder="Enter your username">
                <input [(ngModel)]="loginKey" name="loginKey" id="login-private-key-inp" type="password" class="uk-input uk-text-center" placeholder="Enter your private key">
            </form>
        </div>

        <!-- Modal footer -->
        <div class="uk-modal-footer uk-flex uk-flex-center uk-flex-column uk-flex-middle">
            <button (click)="login()" id="login-button" class="uk-button uk-text-center uk-margin-bottom uk-modal-close" #loginButton>Log In</button>
            <div id="login-spinner" uk-spinner="ratio: 2" #loginSpinner></div>
            <a href="#signup-modal" uk-toggle>I don't have an ID yet</a>
        </div>

    </div>
</div>

<!-- Signup modal -->
<div id="signup-modal" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        
        <!-- Modal header -->
        <div class="uk-modal-header">
            <h3 class="uk-modal-title uk-text-center">Get your developer identity</h3>
        </div>

        <!-- Modal body -->
        <div class="uk-modal-body uk-flex uk-flex-column uk-flex-center">
            <img src="../../../assets/Landing/id.svg" alt="An ID card" class="uk-margin-medium-bottom">
            <form action="" class="uk-flex uk-flex-center">
                <input [(ngModel)]="signupUser" name="signupUser" id="signup-user-inp" type="text" class="uk-input uk-text-center" placeholder="Choose a clever username">
            </form>
        </div>

        <!-- Modal footer -->
        <div class="uk-modal-footer uk-flex uk-flex-center uk-flex-column uk-flex-middle">
            <button (click)="signup($event)" id="signup-button" class="uk-button uk-text-center uk-margin-bottom" #signupButton>Sign Up</button>
            <div id="signup-spinner" uk-spinner="ratio: 2" #signupSpinner></div>
            <a href="#login-modal" uk-toggle>I already have an ID</a>
        </div>

    </div>
</div>