/* Theme colors definitions */
@jazzberry-jam: #A50B5E;
@sunglow: #FFCC33;
@blue-crayola: #1f75fe;
@caribbean-green: #00CC99;
@cotton-candy: #F4BFDB;

/* Theme variables */
@brand-color: #EF9FA4;
@brand-lighter: #F7BFBE;
@brand-green: #70B77E;
@brand-blue: #8FC3FE;
@brand-red: #e2737b;
@brand-complement: @sunglow;
@brand-twist: @blue-crayola;
@brand-bright: @caribbean-green;
@brand-neuter: @cotton-candy;

@text-color: #FFEAEE;

@dark-background: #1B2021;

.fluid-font(@min-font, @max-font, @min-screen, @max-screen) {
    font-size: calc(unit(@min-font, em) + (@max-font - @min-font) * ((100vw - unit(@min-screen, px)) / (@max-screen - @min-screen)));
}